h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }

_______________________________________________
            Hydro page
_______________________________________________

.hydroEnergy {
    text-color:;
}
